@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@mixin shadow1 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@mixin shadow2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@mixin gradient-bg {
    background: rgb(40,88,207);
    background: linear-gradient(162deg, rgba(40,88,207,1) 0%, rgba(34,61,160,1) 35%, rgba(38,60,136,1) 100%);
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

$blue: #263C88; 
$offwhite: #f7f7f7;
$fontInter: 'Inter', sans-serif;
$fontSource: 'Source Sans Pro', sans-serif;

body{
    font-family: $fontSource;
    background-color: $offwhite;
    height: 100vh;
    h1{
        font-family: $fontInter;
        font-weight: 900;
        color: $blue;
        font-size: 2em;
    }
    nav{
        background-color: $offwhite;
        border-radius: 1.4em;
        margin: 0.5em;
        @include shadow1;
        
        a{
            width: 20%;
            height: auto;
            text-align: center;
            color: $blue;
            i{
                font-size: 1.5em;
            }
        }
    }
    #header{
        margin: 1em 0 2em 0.6em;
        position: fixed;
        top: 0;
        z-index: 99;
    }
    #main{        
        top: 6em;
        left: 0;
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 80vh;
        overflow: scroll;
    }
    #list{
        .pill{
            width: 100%;
            height: 9em;
            @include gradient-bg;
            border-radius: 1.5em;
            margin: 0.5em 0;
            padding: 1.2em 1em;
            @include shadow1;
            .pill-header{
                position: relative;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $fontInter;
                font-size: 0.8em;
                color: hsla(0, 0%, 97%, 0.904);
                display: block;
                clear: both;
                .car-plate-span{
                    width: auto;
                    padding: .5em 1em;
                    height: auto;
                    background-color: hsla(227, 56%, 20%, 0.301);
                    border-radius: .7em;
                    float: right;
                    display: block;                    
                    letter-spacing: .2em;
                }
                .pill-name{
                    float: left;
                    margin: 0 0.5em;
                    display: block;
                }
                .pill-time{
                    float: right;
                    margin: 0 0.5em;
                    display: block;
                }
            }
            .pill-content{
                .tab{
                    width: .4em;
                    height: 100%;
                    background-color: #f7f7f7;
                    display: inline-block;
                }
                h4{
                    color: $offwhite;
                    font-weight: 500;
                    padding: 0;
                    margin: 0;
                    line-height: 1.6;
                    letter-spacing: .05em;
                    font-size: 1.3em;
                }
                p{
                    font-family: $fontSource;
                    color: hsl(227, 56%, 84%);
                    font-weight: 500;
                    padding: 0;
                    margin: 0.3em 0 0 0;
                    font-size: 1em;
                    letter-spacing: .025em;
                }
            }
        }
    }
    #os-modal{
        .modal{
            .modal-content{
                background-color: $offwhite;
                .modal-header{
                    border-bottom: none;
                    .modal-title{
                        color: $blue;
                        font-size: 2em;
                        font-weight: 900;
                        text-transform: uppercase;
                        font-family: $fontInter;
                    }
                }
                .modal-footer{
                    border-top: none;
                    button{
                        width: 49%;
                    }
                    .salvar{
                        background-color: $blue;
                        color: $offwhite;
                        margin: 0 0 0 auto;
                    }
                    .cancelar{
                        background-color: transparent;
                        color: $blue;
                        border: 1px solid $blue;
                        margin: 0 auto 0 0;
                        &:hover{                    
                            background-color: $blue;
                            color: $offwhite;
                            border-color: $offwhite;                    
                        }                
                    }
                }
                .modal-body{
                    .datetime{
                        margin-bottom: 2.5em;
                        font-size: 1.2em;
                        label{
                            display: block;
                            width: auto;
                            color: $blue;
                            font-weight: 700;
                        }
                        .date{
                            float: left;
                        }
                        .time{
                            float: right;
                        }
                    }
                    
                    .os-form{
                        clear: both;
                        .os-form-block{
                            margin-bottom: 2em;
                        }
                        .os-form-label{
                            margin-bottom: .2em;
                            display: block;
                        }
                        .os-form-control{                        
                            color: $blue;
                            background-color: transparent;
                            border: 1px solid rgba(38, 60, 136, 0.25);
                            display: block;
                            width: 100%;
                            padding: .375rem .75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            background-clip: padding-box;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border-radius: .25rem;
                            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                            &:focus{
                                background-color: transparent;
                                border-color: rgba(38, 60, 136, 0.25);
                                outline: 0;
                                box-shadow: 0 0 0 0.25rem rgba(38, 60, 136, 0.25);
                            }
                        }
                        #payment, #service{
                            .btn-check:active+.check, .btn-check:checked+.check, .check:active {
                                color: $offwhite !important;
                                background-color: $blue !important;
                                border-color: $blue !important;
                            }
                            .check{
                                width: 100%;
                                &:active{
                                    color: $offwhite;
                                    background-color: $blue;
                                    border-color: $blue;
                                }
                                color: $blue;
                                border-color: $blue;
                            }
                            .col{
                                padding: 0;
                            }
                        }
                        #phone{
                            .col-3{
                                padding-right: 0;
                            }
                            .col-9{
                                padding-left: .5em;
                            }
                        }
                    }
                }
            }
        }
    }

    #clients{
                
        .articles{
            a {
            text-decoration: none !important;
            display: block;
            margin-bottom: 0;
            color: #555;
            }
            .badge {
                font-size: 0.7em;
                padding: 5px 10px;
                line-height: 1;
                margin-left: 10px;
            }
            .item {
                padding: 20px;
                .image {
                    min-width: 50px;
                    max-width: 50px;
                    height: 50px;
                    margin-right: 15px;
                }
                img {
                    padding: 3px;
                    border: 1px solid #28a745;
                }
                h3 {
                    color: #555;
                    font-weight: 400;
                    margin-bottom: 0;
                }
                small {
                    color: #aaa;
                    font-size: 0.75em;
                }
            }
            .item:nth-of-type(even) {
                background: #fafafa;
            }
        }
           
        .card-close {
            position: absolute;
            top: 15px;
            right: 15px;
            .dropdown-toggle {
                color: #999;
                background: none;
                border: none;
                &:after{
                    display: none;
                }
            }
            .dropdown-menu {
                border: none;
                min-width: auto;
                font-size: 0.9em;
                border-radius: 0;
                -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
                a {
                    color: #999 !important;
                    &:hover {
                        background: #796AEE;
                        color: #fff !important;
                    }
                    i {
                        margin-right: 10px;
                        -webkit-transition: none;
                        transition: none;
                    }
                }
            }
        }
    }
}

#loading-screen{
    width: 100%;
    height: 100vh;
    background-color: $offwhite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden !important;
    transition: ease-out;
    .center{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span{
            width: 1em;
            height: 3.2em;
            background-color: $blue;
            margin: 0 0.15em;
            display: inline-block;
        }
        span:nth-child(1){
            animation: grow 0.5s -0.45s ease-in-out alternate infinite;
        }
        span:nth-child(2){
            animation: grow 0.5s -0.3s ease-in-out alternate infinite;
        }
        span:nth-child(3){
            animation: grow 0.5s -0.15s ease-in-out alternate infinite;
        }
        span:nth-child(4){
            animation: grow 0.5s 0s ease-in-out alternate infinite;
        }
        @keyframes grow{
            to{
                transform: scaleY(2);
            }
        }
    }
}