@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
}

body h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #263C88;
}

body nav {
  background-color: #f7f7f7;
  border-radius: 1.4em;
  margin: 0.5em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body nav a {
  width: 20%;
  height: auto;
  text-align: center;
  color: #263C88;
}

body nav a i {
  font-size: 1.5em;
}

body #header {
  margin: 1em 0 2em 0.6em;
  position: fixed;
  top: 0;
  z-index: 99;
}

body #list {
  top: 6em;
  left: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

body #list .pill {
  width: 100%;
  height: 5em;
  background-color: rgba(49, 77, 175, 0.904);
  border-radius: 2em;
  margin: 0.5em 0;
  padding: 0 1em;
}

body #list .pill .pill-header {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  color: rgba(247, 247, 247, 0.705);
  display: block;
}

body #list .pill .pill-header .pill-name {
  float: left;
  margin: 0 0.5em;
  display: block;
}

body #list .pill .pill-header .pill-time {
  float: right;
  margin: 0 0.5em;
  display: block;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden !important;
  -webkit-transition: ease-out;
  transition: ease-out;
}

#loading-screen .center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#loading-screen .center span {
  width: 1em;
  height: 3.2em;
  background-color: #263C88;
  margin: 0 0.15em;
  display: inline-block;
}

#loading-screen .center span:nth-child(1) {
  -webkit-animation: grow 0.5s -0.45s ease-in-out alternate infinite;
          animation: grow 0.5s -0.45s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(2) {
  -webkit-animation: grow 0.5s -0.3s ease-in-out alternate infinite;
          animation: grow 0.5s -0.3s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(3) {
  -webkit-animation: grow 0.5s -0.15s ease-in-out alternate infinite;
          animation: grow 0.5s -0.15s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(4) {
  -webkit-animation: grow 0.5s 0s ease-in-out alternate infinite;
          animation: grow 0.5s 0s ease-in-out alternate infinite;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}
/*# sourceMappingURL=styles.css.map */