@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f7f7f7;
  height: 100vh;
}

body h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #263C88;
  font-size: 2em;
}

body nav {
  background-color: #f7f7f7;
  border-radius: 1.4em;
  margin: 0.5em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body nav a {
  width: 20%;
  height: auto;
  text-align: center;
  color: #263C88;
}

body nav a i {
  font-size: 1.5em;
}

body #header {
  margin: 1em 0 2em 0.6em;
  position: fixed;
  top: 0;
  z-index: 99;
}

body #main {
  top: 6em;
  left: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 80vh;
  overflow: scroll;
}

body #list .pill {
  width: 100%;
  height: 9em;
  background: #2858cf;
  background: linear-gradient(162deg, #2858cf 0%, #223da0 35%, #263c88 100%);
  border-radius: 1.5em;
  margin: 0.5em 0;
  padding: 1.2em 1em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body #list .pill .pill-header {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  color: rgba(247, 247, 247, 0.904);
  display: block;
  clear: both;
}

body #list .pill .pill-header .car-plate-span {
  width: auto;
  padding: .5em 1em;
  height: auto;
  background-color: rgba(22, 35, 80, 0.301);
  border-radius: .7em;
  float: right;
  display: block;
  letter-spacing: .2em;
}

body #list .pill .pill-header .pill-name {
  float: left;
  margin: 0 0.5em;
  display: block;
}

body #list .pill .pill-header .pill-time {
  float: right;
  margin: 0 0.5em;
  display: block;
}

body #list .pill .pill-content .tab {
  width: .4em;
  height: 100%;
  background-color: #f7f7f7;
  display: inline-block;
}

body #list .pill .pill-content h4 {
  color: #f7f7f7;
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  letter-spacing: .05em;
  font-size: 1.3em;
}

body #list .pill .pill-content p {
  font-family: "Source Sans Pro", sans-serif;
  color: #bfc9ed;
  font-weight: 500;
  padding: 0;
  margin: 0.3em 0 0 0;
  font-size: 1em;
  letter-spacing: .025em;
}

body #os-modal .modal .modal-content {
  background-color: #f7f7f7;
}

body #os-modal .modal .modal-content .modal-header {
  border-bottom: none;
}

body #os-modal .modal .modal-content .modal-header .modal-title {
  color: #263C88;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

body #os-modal .modal .modal-content .modal-footer {
  border-top: none;
}

body #os-modal .modal .modal-content .modal-footer button {
  width: 49%;
}

body #os-modal .modal .modal-content .modal-footer .salvar {
  background-color: #263C88;
  color: #f7f7f7;
  margin: 0 0 0 auto;
}

body #os-modal .modal .modal-content .modal-footer .cancelar {
  background-color: transparent;
  color: #263C88;
  border: 1px solid #263C88;
  margin: 0 auto 0 0;
}

body #os-modal .modal .modal-content .modal-footer .cancelar:hover {
  background-color: #263C88;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

body #os-modal .modal .modal-content .modal-body .datetime {
  margin-bottom: 2.5em;
  font-size: 1.2em;
}

body #os-modal .modal .modal-content .modal-body .datetime label {
  display: block;
  width: auto;
  color: #263C88;
  font-weight: 700;
}

body #os-modal .modal .modal-content .modal-body .datetime .date {
  float: left;
}

body #os-modal .modal .modal-content .modal-body .datetime .time {
  float: right;
}

body #os-modal .modal .modal-content .modal-body .os-form {
  clear: both;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-block {
  margin-bottom: 2em;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-label {
  margin-bottom: .2em;
  display: block;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-control {
  color: #263C88;
  background-color: transparent;
  border: 1px solid rgba(38, 60, 136, 0.25);
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-control:focus {
  background-color: transparent;
  border-color: rgba(38, 60, 136, 0.25);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(38, 60, 136, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(38, 60, 136, 0.25);
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .btn-check:active + .check, body #os-modal .modal .modal-content .modal-body .os-form #payment .btn-check:checked + .check, body #os-modal .modal .modal-content .modal-body .os-form #payment .check:active, body #os-modal .modal .modal-content .modal-body .os-form #service .btn-check:active + .check, body #os-modal .modal .modal-content .modal-body .os-form #service .btn-check:checked + .check, body #os-modal .modal .modal-content .modal-body .os-form #service .check:active {
  color: #f7f7f7 !important;
  background-color: #263C88 !important;
  border-color: #263C88 !important;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .check, body #os-modal .modal .modal-content .modal-body .os-form #service .check {
  width: 100%;
  color: #263C88;
  border-color: #263C88;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .check:active, body #os-modal .modal .modal-content .modal-body .os-form #service .check:active {
  color: #f7f7f7;
  background-color: #263C88;
  border-color: #263C88;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .col, body #os-modal .modal .modal-content .modal-body .os-form #service .col {
  padding: 0;
}

body #os-modal .modal .modal-content .modal-body .os-form #phone .col-3 {
  padding-right: 0;
}

body #os-modal .modal .modal-content .modal-body .os-form #phone .col-9 {
  padding-left: .5em;
}

body #clients .articles a {
  text-decoration: none !important;
  display: block;
  margin-bottom: 0;
  color: #555;
}

body #clients .articles .badge {
  font-size: 0.7em;
  padding: 5px 10px;
  line-height: 1;
  margin-left: 10px;
}

body #clients .articles .item {
  padding: 20px;
}

body #clients .articles .item .image {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  margin-right: 15px;
}

body #clients .articles .item img {
  padding: 3px;
  border: 1px solid #28a745;
}

body #clients .articles .item h3 {
  color: #555;
  font-weight: 400;
  margin-bottom: 0;
}

body #clients .articles .item small {
  color: #aaa;
  font-size: 0.75em;
}

body #clients .articles .item:nth-of-type(even) {
  background: #fafafa;
}

body #clients .card-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

body #clients .card-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
}

body #clients .card-close .dropdown-toggle:after {
  display: none;
}

body #clients .card-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

body #clients .card-close .dropdown-menu a {
  color: #999 !important;
}

body #clients .card-close .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

body #clients .card-close .dropdown-menu a i {
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden !important;
  -webkit-transition: ease-out;
  transition: ease-out;
}

#loading-screen .center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#loading-screen .center span {
  width: 1em;
  height: 3.2em;
  background-color: #263C88;
  margin: 0 0.15em;
  display: inline-block;
}

#loading-screen .center span:nth-child(1) {
  -webkit-animation: grow 0.5s -0.45s ease-in-out alternate infinite;
          animation: grow 0.5s -0.45s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(2) {
  -webkit-animation: grow 0.5s -0.3s ease-in-out alternate infinite;
          animation: grow 0.5s -0.3s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(3) {
  -webkit-animation: grow 0.5s -0.15s ease-in-out alternate infinite;
          animation: grow 0.5s -0.15s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(4) {
  -webkit-animation: grow 0.5s 0s ease-in-out alternate infinite;
          animation: grow 0.5s 0s ease-in-out alternate infinite;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}
/*# sourceMappingURL=styles.css.map */