@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/
/* DARK THEME
    $blue: #263C88;
    $background: hsl(0, 0%, 7%);
    $pill-bg: hsl(0, 0%, 11%);
    $fontColor: #d8d8d8;
*/
html {
  background-color: #f7f7f7;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
}

body h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #263C88;
  font-size: 2em;
}

body nav {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 1.4em;
  margin: 0.5em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body nav .selected {
  width: 20%;
  height: inherit;
  position: absolute;
  background-color: #263C88 !important;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  stroke: #f7f7f7 !important;
  z-index: -1;
  left: 0;
  border-radius: 1.4em;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body nav.navbar {
  padding: 0;
}

body nav .container-fluid {
  position: relative;
  z-index: 1;
  padding: 0;
  background: inherit;
}

body nav a {
  width: 20%;
  height: auto;
  text-align: center;
  color: #263C88;
  border-radius: 1.4em;
  -webkit-transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  stroke: #263C88;
}

body nav a.nav-link {
  padding: 1em;
  -webkit-transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

body nav a.active {
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  stroke: white !important;
}

body nav a svg {
  width: 30px;
  height: 30px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

body #header {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: .5em;
  height: 5em;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

body #header .container-fluid {
  background-color: #263C88;
  border-radius: 1.4em;
  padding: 1em 0.5em;
  -webkit-box-shadow: rgba(38, 60, 136, 0.19) 0px 10px 20px, rgba(38, 60, 136, 0.23) 0px 6px 6px;
          box-shadow: rgba(38, 60, 136, 0.19) 0px 10px 20px, rgba(38, 60, 136, 0.23) 0px 6px 6px;
  position: relative;
  z-index: 1;
}

body #header .container-fluid h1 {
  letter-spacing: .02em;
  position: relative;
  font-weight: bolder;
  z-index: 2;
  color: #f7f7f7;
  margin-bottom: 0;
  line-height: 1.6;
  text-align: center;
  font-size: 1.5em;
}

body #main {
  top: 0;
  margin-top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  overflow: scroll;
  padding-bottom: 4em;
}

body #list, body #clients, body #car-plates {
  display: none;
}

body #list, body #car-plates {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

body #list .layer, body #car-plates .layer {
  width: 100%;
  height: 9em;
  position: relative;
  top: 0;
  left: 0;
  color: transparent !important;
  z-index: 99;
}

body #list .plates, body #car-plates .plates {
  height: 6.5em;
}

body #list .lists, body #car-plates .lists {
  height: 9em;
  overflow: auto;
}

body #list .pill, body #car-plates .pill {
  cursor: pointer;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 1.5em;
  margin: 1em 0;
  padding: 1.2em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  position: relative;
  z-index: -1;
}

body #list .pill .pill-header, body #car-plates .pill .pill-header {
  position: relative;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  color: #263C88;
  display: block;
}

body #list .pill .pill-header .car-plate-span, body #car-plates .pill .pill-header .car-plate-span {
  width: auto;
  padding: .5em 1em;
  height: auto;
  background-color: rgba(22, 35, 80, 0.075);
  border-radius: .7em;
  float: right;
  display: block;
  letter-spacing: .2em;
}

body #list .pill .pill-header .pill-name, body #car-plates .pill .pill-header .pill-name {
  float: left;
  margin: 0 0.5em;
  display: block;
}

body #list .pill .pill-header .pill-time, body #car-plates .pill .pill-header .pill-time {
  float: right;
  margin: 0 0.5em;
  display: block;
}

body #list .pill .pill-content, body #car-plates .pill .pill-content {
  height: auto;
}

body #list .pill .pill-content .desc, body #car-plates .pill .pill-content .desc {
  width: 50%;
  height: auto;
  float: left;
}

body #list .pill .pill-content .actions, body #car-plates .pill .pill-content .actions {
  margin-top: 1.5em;
  float: right;
}

body #list .pill .pill-content .tab, body #car-plates .pill .pill-content .tab {
  width: .4em;
  height: 100%;
  background-color: #f7f7f7;
  display: inline-block;
}

body #list .pill .pill-content h2, body #car-plates .pill .pill-content h2 {
  color: #263C88;
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  font-size: 1.3em;
  width: 70%;
}

body #list .pill .pill-content p, body #car-plates .pill .pill-content p {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(38, 59, 136, 0.9);
  font-weight: 500;
  padding: 0;
  margin: 0.3em 0 0 0;
  font-size: 1em;
  letter-spacing: .025em;
}

body #list .pill .pill-content div, body #car-plates .pill .pill-content div {
  margin-top: .7em;
}

body #os-modal .modal .modal-content {
  background-color: #f7f7f7;
}

body #os-modal .modal .modal-content .modal-header {
  border-bottom: none;
}

body #os-modal .modal .modal-content .modal-header .modal-title {
  color: #263C88;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

body #os-modal .modal .modal-content .modal-footer {
  border-top: none;
}

body #os-modal .modal .modal-content .modal-footer button {
  width: 49%;
  border-radius: .5em;
}

body #os-modal .modal .modal-content .modal-footer .salvar {
  background-color: #263C88;
  color: #f7f7f7;
  margin: 0 0 0 auto;
}

body #os-modal .modal .modal-content .modal-footer .cancelar {
  background-color: transparent;
  color: #263C88;
  border: 1px solid #263C88;
  margin: 0 auto 0 0;
}

body #os-modal .modal .modal-content .modal-footer .cancelar:hover {
  background-color: #263C88;
  color: #f7f7f7;
  border-color: #f7f7f7;
}

body #os-modal .modal .modal-content .modal-body .datetime {
  margin: 0 0 3em 0;
  font-size: 1.4em;
}

body #os-modal .modal .modal-content .modal-body .datetime label {
  display: block;
  width: auto;
  opacity: 70%;
  color: #263C88;
  font-weight: 500;
}

body #os-modal .modal .modal-content .modal-body .datetime .date {
  float: left;
}

body #os-modal .modal .modal-content .modal-body .datetime .time {
  float: right;
}

body #os-modal .modal .modal-content .modal-body .os-form {
  clear: both;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-block {
  margin-bottom: 2em;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-label {
  margin-bottom: .2em;
  margin-left: .1em;
  display: block;
  color: rgba(27, 42, 95, 0.801);
  font-weight: 700;
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-control {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 3em;
  color: #263C88;
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .5rem;
  -webkit-transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-box-shadow 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-box-shadow 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), box-shadow 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), box-shadow 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-box-shadow 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

body #os-modal .modal .modal-content .modal-body .os-form .os-form-control:focus {
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-box-shadow 0.15s;
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), -webkit-box-shadow 0.15s;
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), box-shadow 0.15s;
  transition: 0.15s cubic-bezier(0.6, -0.28, 0.74, 0.05), box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .btn-check:active + .check, body #os-modal .modal .modal-content .modal-body .os-form #payment .btn-check:checked + .check, body #os-modal .modal .modal-content .modal-body .os-form #payment .check:active, body #os-modal .modal .modal-content .modal-body .os-form #service .btn-check:active + .check, body #os-modal .modal .modal-content .modal-body .os-form #service .btn-check:checked + .check, body #os-modal .modal .modal-content .modal-body .os-form #service .check:active {
  color: #f7f7f7 !important;
  background-color: #263C88 !important;
  border-color: #263C88 !important;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  -webkit-transition: 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .check, body #os-modal .modal .modal-content .modal-body .os-form #service .check {
  border: none;
  background-color: rgba(38, 59, 135, 0.02);
  width: 100%;
  color: #263C88;
  border-radius: .5em;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .check:active, body #os-modal .modal .modal-content .modal-body .os-form #service .check:active {
  color: #f7f7f7;
  background-color: #263C88;
}

body #os-modal .modal .modal-content .modal-body .os-form #payment .col, body #os-modal .modal .modal-content .modal-body .os-form #service .col {
  padding: 0;
}

body #os-modal .modal .modal-content .modal-body .os-form #phone .col-3 {
  padding-right: 0;
}

body #os-modal .modal .modal-content .modal-body .os-form #phone .col-9 {
  padding-left: .5em;
}

body #clients .col {
  padding: 0;
}

body #clients .articles .card-body {
  padding: 0;
}

body #clients .articles .badge {
  font-size: 0.7em;
  padding: 5px 10px;
  line-height: 1;
  margin-left: 10px;
}

body #clients .articles .item {
  padding: .8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #clients .articles .item .text {
  width: 50%;
  padding-right: .5em;
}

body #clients .articles .item .image {
  margin-right: .5em;
  max-width: 15% !important;
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background-color: rgba(38, 59, 136, 0.2);
}

body #clients .articles .item .image p {
  top: 50%;
  left: 50%;
  position: relative;
  width: auto;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  color: #263C88;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: "Inter", sans-serif;
}

body #clients .articles .item h3 {
  color: #263C88;
  font-weight: 600;
  margin-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em;
}

body #clients .articles .item .actions {
  border-radius: .7em;
  margin: 0 0 0 auto;
}

body #clients .articles .item:nth-of-type(even) {
  background: #fafafa;
}

body #clients .card-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

body #clients .card-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
}

body #clients .card-close .dropdown-toggle:after {
  display: none;
}

body #clients .card-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

body #clients .card-close .dropdown-menu a {
  color: #999 !important;
}

body #clients .card-close .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

body #clients .card-close .dropdown-menu a i {
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

body .actions {
  padding: 0;
  width: 6.725em;
  border-radius: .7em;
}

body .actions a {
  border-radius: .7em;
  padding: .75em .8em;
  margin: 0;
  display: block;
  float: right;
  width: 3.1em;
  height: auto;
  background-color: rgba(22, 35, 80, 0.075);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

body .actions a svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke: #263C88;
}

body .actions a.m {
  margin-left: .5em;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden !important;
  -webkit-transition: ease-out;
  transition: ease-out;
}

#loading-screen .center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#loading-screen .center span {
  width: 1em;
  height: 3.2em;
  background-color: #263C88;
  margin: 0 0.15em;
  display: inline-block;
}

#loading-screen .center span:nth-child(1) {
  -webkit-animation: grow 0.5s -0.45s ease-in-out alternate infinite;
          animation: grow 0.5s -0.45s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(2) {
  -webkit-animation: grow 0.5s -0.3s ease-in-out alternate infinite;
          animation: grow 0.5s -0.3s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(3) {
  -webkit-animation: grow 0.5s -0.15s ease-in-out alternate infinite;
          animation: grow 0.5s -0.15s ease-in-out alternate infinite;
}

#loading-screen .center span:nth-child(4) {
  -webkit-animation: grow 0.5s 0s ease-in-out alternate infinite;
          animation: grow 0.5s 0s ease-in-out alternate infinite;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@keyframes grow {
  to {
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
  }
}

@supports (-ms-ime-align: auto) {
  nav {
    background-color: #f7f7f7 !important;
  }
}
/*# sourceMappingURL=styles.css.map */