@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@mixin shadow1 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
@mixin shadow2 {
    //box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@mixin gradient-bg {
    //background: rgb(40,88,207);
    //background: linear-gradient(162deg, rgba(40,88,207,1) 0%, rgba(34,61,160,1) 35%, rgba(38,60,136,1) 100%);
    background-color: hsl(0, 0%, 97%);
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/

$blue: #263C88; 
$offwhite: #f7f7f7;
$fontInter: 'Inter', sans-serif;
$fontSource: 'Source Sans Pro', sans-serif;

/* DARK THEME
    $blue: #263C88;
    $background: hsl(0, 0%, 7%);
    $pill-bg: hsl(0, 0%, 11%);
    $fontColor: #d8d8d8;
*/

body{
    font-family: $fontSource;
    background-color: $offwhite;
    height: 100vh;
    h1{
        font-family: $fontInter;
        font-weight: 900;
        color: $blue;
        font-size: 2em;
    }
    
    nav{
        z-index: 1;
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(5px);
        border-radius: 1.4em;
        margin: 0.5em;
        @include shadow1;
        &.navbar{
            padding: 0;
        }
        /*.container-fluid::before{
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
            filter: blur(10px);
            background: inherit;
        }*/
        .container-fluid{
            position: relative;
            z-index: 1;
            padding: 0;
            background: inherit;
        }
        
        a{
            width: 20%;
            height: auto;
            text-align: center;
            color: $blue;
            border-radius: 1.4em;
            transition: .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            &.nav-link{
                padding: 1em;
                transition: .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                &:active, &:focus, &:hover{
                    background-color: $blue;
                    color: $offwhite;
                    transition: .2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                }
            }
            
            i{
                font-size: 1.5em;
            }
        }
    }
    #header{
        background-color: rgba(255, 255, 255, .15);
        backdrop-filter: blur(15px);
        padding: 1em 0 1em 0.6em;        
        height: 5em;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        
        h1{
            margin-bottom: 0;
            line-height: 1.6;
        }
    }
    #main{        
        top: 0;
        margin-top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: scroll;
    }
    #list, #clients, #dashboard, #carplates{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    #list{
        transition: 2s ease-in-out;
        .pill{
            cursor: pointer;
            width: 100%;
            height: 9em;
            @include gradient-bg;
            border-radius: 1.5em;
            margin: 1em 0;
            padding: 1.2em 1em;
            @include shadow2;
            .pill-header{
                position: relative;
                font-weight: 500;
                text-transform: uppercase;
                font-family: $fontInter;
                font-size: 0.8em;
                //color: hsla(0, 0%, 97%, 0.904);
                color: #263C88;
                display: block;
                .car-plate-span{
                    width: auto;
                    padding: .5em 1em;
                    height: auto;
                    background-color: hsla(227, 57%, 20%, 0.075);
                    border-radius: .7em;
                    float: right;
                    display: block;                    
                    letter-spacing: .2em;
                }
                
                .pill-name{
                    float: left;
                    margin: 0 0.5em;
                    display: block;
                }
                .pill-time{
                    float: right;
                    margin: 0 0.5em;
                    display: block;
                }
            }
            .pill-content{
                height: auto;
                .desc{
                    width: 50%;
                    height: auto;
                    float: left;
                }
                .actions{
                    padding: 0;
                    width: 6.725em;
                    height: 3em;
                    margin-top: 1em;
                    float: right;
                    border-radius: .7em;
                    position: relative;
                    bottom: -5px;
                    right: 0;
                    a{
                        border-radius: .7em;
                        padding: .75em .8em;
                        margin: 0;
                        display: block;
                        float: right;
                        width: 3.1em;
                        height: auto;
                        background-color: rgba(22, 35, 80, 0.075);
                        backdrop-filter: blur(15px);
                        @include shadow1;
                        .action{
                            color: #263C88;
                            height: auto;
                            position: relative;
                        }
                        &.m{
                            margin-left: .5em;
                        }
                    }
                }
                .tab{
                    width: .4em;
                    height: 100%;
                    background-color: #f7f7f7;
                    display: inline-block;
                }
                h2{
                    color: $blue;
                    font-weight: 700;
                    padding: 0;
                    margin: 0;
                    line-height: 1.7;
                    font-size: 1.3em;
                }
                p{
                    font-family: $fontSource;
                    color: rgba(38, 59, 136, 0.9);
                    font-weight: 500;
                    padding: 0;
                    margin: 0.3em 0 0 0;
                    font-size: 1em;
                    letter-spacing: .025em;
                }
                div{
                    margin-top: .7em;
                }
            }
        }
    }
    #os-modal{
        .modal{
            .modal-content{
                background-color: $offwhite;
                .modal-header{
                    border-bottom: none;
                    .modal-title{
                        color: $blue;
                        font-size: 2em;
                        font-weight: 900;
                        text-transform: uppercase;
                        font-family: $fontInter;
                    }
                }
                .modal-footer{
                    border-top: none;
                    button{
                        width: 49%;
                        border-radius: .5em;
                    }
                    .salvar{
                        background-color: $blue;
                        color: $offwhite;
                        margin: 0 0 0 auto;
                    }
                    .cancelar{
                        background-color: transparent;
                        color: $blue;
                        border: 1px solid $blue;
                        margin: 0 auto 0 0;
                        &:hover{                    
                            background-color: $blue;
                            color: $offwhite;
                            border-color: $offwhite;                    
                        }                
                    }
                }
                .modal-body{
                    .datetime{
                        margin: 0 0 3em 0;
                        font-size: 1.4em;
                        label{
                            display: block;
                            width: auto;
                            opacity: 70%;
                            color: $blue;
                            font-weight: 500;
                        }
                        .date{
                            float: left;
                        }
                        .time{
                            float: right;
                        }
                    }
                    
                    .os-form{
                        clear: both;
                        .os-form-block{
                            margin-bottom: 2em;
                        }
                        .os-form-label{
                            margin-bottom: .2em;
                            margin-left: .1em;
                            display: block;
                            color: hsla(227, 56%, 24%, 0.801);
                            font-weight: 700;
                        }
                        .os-form-control{     
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            height: 3em;                   
                            color: $blue;
                            background-color: transparent;
                            border: none;
                            display: block;
                            width: 100%;
                            padding: .375rem .75rem;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.5;
                            background-clip: padding-box;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            border-radius: .5rem;
                            transition: .15s cubic-bezier(0.6, -0.28, 0.74, 0.05),box-shadow .15s cubic-bezier(0.6, -0.28, 0.74, 0.05);
                            &:focus{
                                background-color: #fff;
                                outline: 0;
                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                transition: .15s cubic-bezier(0.6, -0.28, 0.74, 0.05),box-shadow .15s 
                            }
                        }
                        #payment, #service{
                            .btn-check:active+.check, .btn-check:checked+.check, .check:active {
                                color: $offwhite !important;
                                background-color: $blue !important;
                                border-color: $blue !important;
                                @include shadow1;
                                transition: .2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
                            }
                            .check{
                                border: none;
                                background-color: hsla(227, 56%, 34%, 0.02);
                                width: 100%;
                                color: $blue;
                                border-radius: .5em;
                                &:active{
                                    color: $offwhite;
                                    background-color: $blue;
                                }
                                
                            }
                            .col{
                                padding: 0;
                            }
                        }
                        #phone{
                            .col-3{
                                padding-right: 0;
                            }
                            .col-9{
                                padding-left: .5em;
                            }
                        }
                    }
                }
            }
        }
    }
    #clients{
        .col{
            padding: 0;
        }
        .articles{
            .card-body{
                padding: 0;
            }            
            .badge {
                font-size: 0.7em;
                padding: 5px 10px;
                line-height: 1;
                margin-left: 10px;
            }
            .item {
                padding: .8em;
                align-items: center;
                display: flex;
                .image {
                    min-width: 50px;
                    max-width: 50px;
                    height: 50px;
                    margin-right: 15px;
                }
                h3 {
                    color: $blue;
                    font-weight: 300;
                    margin-bottom: 0;
                    font-family: $fontInter;
                    font-size: 1.3em;
                }
            }
            .item:nth-of-type(even) {
                background: #fafafa;
            }
        }
           
        .card-close {
            position: absolute;
            top: 15px;
            right: 15px;
            .dropdown-toggle {
                color: #999;
                background: none;
                border: none;
                &:after{
                    display: none;
                }
            }
            .dropdown-menu {
                border: none;
                min-width: auto;
                font-size: 0.9em;
                border-radius: 0;
                -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
                a {
                    color: #999 !important;
                    &:hover {
                        background: #796AEE;
                        color: #fff !important;
                    }
                    i {
                        margin-right: 10px;
                        -webkit-transition: none;
                        transition: none;
                    }
                }
            }
        }
    }

}

#loading-screen{
    width: 100%;
    height: 100vh;
    background-color: $offwhite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden !important;
    transition: ease-out;
    .center{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        span{
            width: 1em;
            height: 3.2em;
            background-color: $blue;
            margin: 0 0.15em;
            display: inline-block;
        }
        span:nth-child(1){
            animation: grow 0.5s -0.45s ease-in-out alternate infinite;
        }
        span:nth-child(2){
            animation: grow 0.5s -0.3s ease-in-out alternate infinite;
        }
        span:nth-child(3){
            animation: grow 0.5s -0.15s ease-in-out alternate infinite;
        }
        span:nth-child(4){
            animation: grow 0.5s 0s ease-in-out alternate infinite;
        }
        @keyframes grow{
            to{
                transform: scaleY(2);
            }
        }
    }
}
@supports (-ms-ime-align:auto) {
    nav {
        background-color: $offwhite !important;
    }
}